/* GENERAL HTML ELEMENTS */

body, p {
    margin: 0;
}

p {
    font-size: 20px;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* PATTERNED BANNER */

.banner {
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.2)),
              url(../images/polypattern.svg) no-repeat center center scroll;
}

/* RIBBON */

.ribbon {
    text-align: center;
}

.ribbon h2 {
    max-width: 500px;
    margin: 30px auto;
    padding: 15px 0;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

/* PROFILE */

.profile-container {
    margin-top: -125px;
}

.profile-pic {
    width: 186px;
    margin: 0 auto;
}

.profile-pic img {
    width: 186px;
    border: solid white 4px;
    border-radius: 300px;
}

/* ABOUT ME */

.about-me-picture #caption {
    padding: 10px 0 0;
    font-size: 15px;
}

img {
    width: 90%;
    max-width: 400px;
}

@media (max-width: 1200px) {
    .about-me-picture {
        display: none;
    }
    .about-me {
        width: 100%;
    }
}

/* SKILLS AND ABILITIES */

.list-unstyled li {
    padding: 3px 0;
}

.skill-label {
    font-size: 1.5em;
}

.skill-level {
    float: right;
    font-size: 1.5em;
    color: #337AB7;
}

@media (min-width: 992px) {
    .right-column {
        padding-right: 70px;
    }
    .left-column {
        padding-left: 70px;
    }
}

/* EDUCATION */

.education {
    margin-bottom: 40px;
}

.education-label {
    font-weight: 300;
    cursor: pointer;
}

.glyphicon-chevron-down {
    float: right;
}

.cs-coursework,
.ee-coursework,
.online-coursework {
    display: none;
}