/* GENERAL HTML ELEMENTS */

body, p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* PATTERNED BANNER */

.banner {
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.2)),
              url(../images/polypattern.svg) no-repeat center center scroll;
}

/* PROFILE */

.profile-container {
    margin-top: -125px;
}

.profile-pic {
    width: 186px;
    margin: 0 auto;
}

.profile-pic img {
    width: 186px;
    border: solid white 4px;
    border-radius: 300px;
}

/* SOME GENERAL STUFF */

.ribbon {
    text-align: center;
}

.ribbon h2 {
    width: 500px;
    margin: 30px auto;
    padding: 15px 0;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    
    font-weight: bold;
}

.about-container,
.experience-container,
.skills-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* ABOUT ME */
.about-me p {
    font-size: 20px;
}

.bruin-blue {
    font-weight: bold;
    color: #0066ff;
}

.bruin-gold {
    font-weight: bold;
    color: #ffcc00;
}

.about-me-picture {
    margin-top: 5px;
}

.about-me-picture #caption {
    padding: 10px 0 0;
    font-size: 15px;
    font-weight: bold;
}

/* EXPERIENCE */

.experience h2 {
    font-weight: bold;
}

.experience p {
    font-size: 20px;
    padding: 10px 0;
}

/* SKILLS AND ABILITIES */

.skills-container h3 {
    font-weight: bold;
}

.skills-container ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.skills-container li {
    padding: 5px 0;
}