/* GENERAL HTML ELEMENTS */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

p, h1 {
    margin: 0;
}

/* BILLBOARD */

.billboard {
    width: 100%;
    height: calc(100% - 69px);
    background: linear-gradient(rgba(10,10,10,0.3), rgba(10,10,10,0.3)),
                url(../images/ucla.jpg) 
                no-repeat center;
    background-size: cover;
    
    color: white;
    text-align: center;
}

.billboard-text {
    padding: 150px 0 0 0;
}

.billboard-text h1 {
    font-size: 60px;
    max-width: 430px;
    margin: 0px auto;
    padding: 20px 0;
    border-bottom: solid 4px;
}

.billboard-description h1 {
    padding: 40px 0
}

.social-media {
    position: fixed;
    width: 380px;
    padding: 15px 0;
    bottom: 10%;
    left: 50%;
    margin-left: -190px;
}

.fa {
    margin: 0 20px;
    color: white;
}

@media (max-height: 480px) {
    .billboard-text {
        padding: 50px 0 0 0;
    }
    .billboard-description h1 {
        padding: 20px 0;
    }
}

@media (max-width: 425px) {
    .billboard-text h1 {
        font-size: 50px;
        width: 90%;
    }
    .fa {
        font-size: 3em;
        margin: 0 13px;
    }
}