/* GENERAL HTML ELEMENTS */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p, h1 {
    margin: 0;
}

/* NAVBAR */

.navbar {
    background-color: #1a1a1a;
    padding: 0% 3%;
    margin: 0;
    border-radius: 0;
    
    color: white;
    font-size: 20px;
    height: 60px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar-header {
    float: left;
    padding: 18px 20px;
}

.navbar-content ul {
    list-style: none;
    margin: 0;
}

.navbar-content li {
    float: right;
    padding: 15.5px 30px;
    margin: 0;
}

.navbar-content li.active,
.navbar-content li:hover {
    background-color: #404040;
}

/* BILLBOARD */

.billboard {
    width: 100%;
    height: 535px;
    background: linear-gradient(rgba(10,10,10,0.4), rgba(10,10,10,0.4)),
                url(../images/ucla.jpg) 
                no-repeat center;
    background-size: cover;
    
    color: white;
    text-align: center;
}

.billboard-text {
    padding: 150px 0px 0px 0px;
}

.billboard-text h1 {
    font-size: 60px;
    width: 430px;
    margin: 0px auto;
    padding: 20px 0px;
    border-bottom: solid 4px;
}

.billboard-description h1 {
    padding: 40px 0
}

.billboard-dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
}

/* ANNOUNCEMENTS */

#announcements {
    width: 85%;
    max-width: 760px;
    margin: 50px auto;
}

#announcements #banner {
    text-align: center;
    margin-bottom: 30px;
}

.announcement p {
    line-height: 1.5;
    font-size: 20px;
    padding: 20px 0px;
}

/* FOOTER */

.footer {
    width: 100%;
    background-color: #0e87c4;
    padding: 25px 0 25px 0;
    
    color: white;
    text-align: center;
    font-size: 16px;
}

.footer a {
    text-decoration: underline;
    color: #fff;
}