/* NAVBAR CSS */

.navbar {
    margin: 0;
    border-radius: 0;
    padding: 0px 2%;
    background-color: black;
    color: white;
}

.navbar-inverse .navbar-brand,
#myNavbar a {
    font-size: 26px;
    color: white;
}

.navbar-header,
.nav li {
    padding: 8px 0px;
    margin: 0px 10px;
    color: white;
    font-weight: bold;
}

.nav li.active,
.nav li:hover {
    border-bottom: solid white 2px;
}

.navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.site-header {
    border: none;
    min-height: 51px;
}

@media (max-width: 760px) {
    .nav li.active {
        border: none;
    }
}