/* NAVBAR CSS */

.navbar {
    margin: 0;
    border-radius: 0;
    padding: 0px 3%;
    background-color: black;
    color: white;
    
    font-size: 20px;
}

.navbar-inverse .navbar-brand,
#myNavbar a {
    font-size: 20px;
    color: white;
}

.nav li {
    padding: 0px 0px;
    margin: 0px 10px;
    color: white;
}

.nav li.active,
.nav li:hover {
    border-bottom: solid white 2px;
}   

.site-header {
    border: none;
    min-height: 51px;
}

@media (max-width: 760px) {
    .nav li.active {
        border: none;
    }
}