/* NAVBAR CSS */

.navbar {
    margin: 0;
    border-radius: 0;
    padding: 0px 3%;
    
    font-size: 20px;
}

.navbar-brand {
    font-size: 20px;
}

.nav li {
    padding: 0px 10px;
}

.site-header {
    border: none;
    min-height: 51px;
}