/* GENERAL ELEMENTS */

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0px;
}

/* NAVBAR */

.navbar {
    width: 100%;
    background-color: lightgray;
    
    color: white;
    text-align: center;
    font-size: 50px;
}

/* BANNERS */

.banner {
    width: 100%;
    background-color: black;
    padding: 120px 0px;
    
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.banner #sub-header {
    font-size: 25px;
    margin-top: 60px;
}