/* GENERAL ELEMENTS */

body, p, h1, h2, h3 {
    margin: 0px;
    font-family: "Helvetica Neue";
}

hr {
    width: 70%;
    background-color: black;
    height: 1px;
}

/* PROJECT NAVBAR */

.project-navbar {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-item {
    padding: 15px;
    color: white;
    background-color: green;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #004d00;
}

.nav-item.active {
    background-color: #004d00;
}

.nav-item h1 {
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 992px) {
    .project-navbar {
        display: none;
    }
}

/* PROJECT DROPDOWN */

.dropdown-section {
    padding: 0;
}

.filter.icon {
    font-size: 0.8em;
}

.ui.dropdown {
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    padding: 20px 15px;
    text-align: center;
    background-color: green;
    color: white;
}

.ui.dropdown .menu {
    width: 100%;
    margin: 0 auto;
}

.ui.dropdown .menu > * {
    padding: 20px 0;
}

.ui.dropdown .menu .item {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

@media (min-width: 992px) {
    .ui.dropdown {
        display: none;
    }
}

/* PROJECTS */

.all-projects {
    background-color: #E6E6E6;
}

.project-group {
    padding: 20px 0;
}

.filter {
    text-align: center;
}

.filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.filter li {
    display: inline-block;
    float: left;
    padding: 10px 20px;
    margin: -5px 20px -20px;
    border-radius: 5px;
    border: solid black 1px;
    cursor: pointer;
}

.project-container {
    padding: 30px 5%;
    text-align: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 992px) {
    img, #no-image, video {
        max-width: 450px;
        margin-top: 25px;
    }
    .filter {
        display: none;
    }
}


.project-container h1 {
    text-align: center;
    margin: 0 0 20px;
    font-weight: bold;
}

.project-container h3 {
    text-align: center;
    color: #0e87c4;
    font-weight: bold;
    font-size: 22px;
}

.project-container p {
    font-size: 20px;
    text-align: left;
    line-height: 1.4;
    padding: 10px 0;
}

.description {
    padding: 5px 0 10px;
}

.skill {
    float: left;
    margin: 5px 10px;
    padding: 5px 15px;
    background-color: #0e87c4;
    
    border-radius: 15px;
    
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.skill-tags {
    display: inline-block;
    margin: 0 auto;
    position: inherit;
}

/* MEDIA LINKS */

.links {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.links i {
    margin: 0 8%;
    opacity: 1;
    color: black;
    font-size: 6em;
}

.links i:hover {
    cursor: pointer;
}

.media-links {
    width: calc(100% - 30px);
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: opacity 0.3s;  /* Safari */
    transition: opacity 0.3s;
}
