/* GENERAL ELEMENTS */

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p, h1, h2, h3 {
    margin: 0px;
}

hr {
    width: 70%;
    background-color: black;
    height: 1px;
}

/* BANNERS */

.banner {
    width: 100%;
    background-color: black;
    padding: 120px 0px;
    
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.banner #sub-header {
    font-size: 25px;
    margin-top: 60px;
}

/* PROJECT NAVBAR */

.project-navbar {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-item {
    padding: 15px;
    color: white;
    background-color: green;
}

.nav-item:hover {
    background-color: #004d00;
}

.nav-item.active {
    background-color: #004d00;
}

.nav-item h1 {
    font-weight: bold;
    font-size: 25px;
}

/* PROJECTS */

.project-group {
    padding: 20px 0;
}

.project-container {
    padding: 30px 5%;
    text-align: center;
}

@media (max-width: 992px) {
    img, #no-image, video {
        border-color: none;
        max-width: 450px;
        margin-top: 25px;
    }
    .media-links {
        display: none;
    }
}


.project-container h1 {
    text-align: center;
    margin: 0 0 20px;
    font-weight: bold;
}

.project-container h3 {
    text-align: center;
    color: #0e87c4;
    font-weight: bold;
}

.project-container p {
    font-size: 20px;
    text-align: left;
    line-height: 1.4;
    padding: 10px 0;
}

.description {
    padding: 5px 0 10px;
}

.skill {
    float: left;
    margin: 5px 10px;
    padding: 5px 15px;
    background-color: #0e87c4;
    
    border-radius: 15px;
    
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.skill-tags {
    display: inline-block;
    margin: 0 auto;
    position: inherit;
}

/* MEDIA LINKS */

.links {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.links i {
    margin: 0 8%;
    opacity: 1;
    color: black;
    font-size: 6em;
}

.links i:hover {
    cursor: pointer;
}

.media-links {
    width: calc(100% - 30px);
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: opacity 0.5s;  /* Safari */
    transition: opacity 0.5s;
}

.media-links:hover {
    opacity: 1;
}