---
layout: default
title: Blog - Jeffrey Chan
---

<div class="home">
    <div class='container-fluid post-container'>
        {% for post in site.posts %}
            {% assign mod = forloop.index0 | modulo:4 %}
            {% if mod < 2 %}
               <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <div class='col-md-6 col-xs-12 post-component container-fluid post-container'>
                        <div class='col-sm-6 post-image' style='background: url({{post.picture | prepend: site.baseurl}}) center; background-size: cover;'></div>
                        <div class='col-sm-6 post-stats'>
                            <h2>{{ post.title }}</h2>
                            <h3>{{ post.subtitle }}</h3>
                            <h3 class="post-date">{{ post.date | date: "%b %-d, %Y" }}</h3>
                            <button class='read-more' href="{{ post.url | prepend: site.baseurl }}">READ MORE</button>
                        </div>
                    </div>
                </a>
            {% else %}
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <div class='col-md-6 col-xs-12 post-component'>
                        <div class='col-sm-6 post-stats'>
                            <h2>{{ post.title }}</h2>
                            <h3>{{ post.subtitle }}</h3>
                            <h3 class="post-date">{{ post.date | date: "%b %-d, %Y" }}</h3>
                            <button class='read-more' href="{{ post.url | prepend: site.baseurl }}">READ MORE</button>
                        </div>
                        <div class='col-sm-6 post-image' style='background: url({{post.picture | prepend: site.baseurl}}); background-size: cover;'></div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
