<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-pic footer-col footer-col-2" style='padding-left: 0;'>
        <img src="{{ "/images/ieee-headshot.jpg" | prepend: site.baseurl }}" style='width: 100%;' />
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
    
    <!-- FOOTER -->
    <div class='footer'>
        <p>
<!--
            <a href='https://twitter.com/jeffreyxchan' target='_blank'><i class='fa fa-twitter fa-2x' aria-hidden='true'></i></a>
            <a href='https://www.instagram.com/double_explosion/' target='_blank'><i class='fa fa-instagram fa-2x' aria-hidden='true'></i></a>
-->
            <a href='https://www.linkedin.com/in/jeffreyschan' target='_blank'><i class='fa fa-linkedin-square fa-2x' aria-hidden='true'></i></a>
            <a href='https://github.com/jeffreyxchan' target='_blank'><i class='fa fa-github fa-2x' aria-hidden='true'></i></a>
            <a href='mailto:jeffschan97@gmail.com'><i class='fa fa-envelope fa-2x' aria-hidden='true'></i></a>
        </p>
    </div>

</footer>
