---
layout: default
---
<article class="post">
	<!-- POST HEADING -->
	<header class="post-header text-center">
		<h1 class="post-title" itemprop="name headline">{{ page.date | date: "%b %d %Y" }} | {{ page.author }}</h1>
	</header>

	<!-- POST CONTENT -->
	<div class="post-content" itemprop="articleBody" style="padding: 20px 0;">
		{{ content }}
	</div>

	<!-- POST FOOTER -->
	<div class='footer-button'>
		<a href="{{ "/notes" | prepend: site.baseurl }}">
            <h2>Return to Notes</h2>
        </a>
	</div>
</article>
